@model TonerTracker.Domain.Dto.BranchDto
@using TonerTracker.Utilities.Constant

@{
   ViewData["Title"] = "Create";
}

<div class="container-fluid pt-4 px-4">
   <div class="row g-4">
      <div class="col-12">
         <div class="theme-bg-secondary theme-font-color rounded h-100 p-4">
            <h1 class="mb-4 display-6">@ViewBag.Title @Model.BranchName</h1>
            <!--ALERT-->
            @if (Convert.ToString(TempData[SessionConstant.Message]).Length > 1)
            {
               <div class="alert alert-success alert-dismissible text-center fade show" id="alert" role="alert">
                  <i class="bi bi-check-circle-fill"></i>&nbsp; @TempData[SessionConstant.Message]
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
               </div>
            }
            <form method="post" enctype="multipart/form-data" asp-action="Create">
               <!-- Company Name -->
               <div class="row mb-3">
                  <label for="companyID" class="col-4 col-form-label" asp-for="CompanyID"></label>
                  <div class="col-8">
                     <input  value="@ViewBag.CompanyName" readonly class="form-control theme-black" />
                     <input asp-for="CompanyID" hidden value="@ViewBag.CompanyId" />
                     @*<select asp-for="CompanyID" asp-items="@ViewBag.CompanyID" id="companyID" class="form-control theme-black">
                        <option selected>Select Company</option>
                     </select>*@
                     @*<span asp-validation-for="CompanyID" class="text-danger"></span>*@
                  </div>
               </div>
               <!-- Branch Name -->
               <div class="row mb-3">
                  <label for="branchName" class="col-4 col-form-label" asp-for="BranchName"></label>
                  <div class="col-8">
                     <input type="text" class="form-control theme-black" id="branchName" asp-for="BranchName" placeholder="Enter branch name.." />
                     <span asp-validation-for="BranchName" class="text-danger"></span>
                  </div>
               </div>
               <!-- Branch Address -->
               <div class="row mb-3">
                  <label for="branchAddress" class="col-4 col-form-label" asp-for="Address"></label>
                  <div class="col-8">
                     <input type="text" class="form-control theme-black" id="branchAddress" asp-for="Address" placeholder="Enter branch address.." />
                     <span asp-validation-for="Address" class="text-danger"></span>
                  </div>
               </div>

               <!-- Button -->
               <button type="submit" class="btn btn-primary mt-2 me-2"><i class="fas fa-plus-square"></i> &nbsp;Save </button>
               <a asp-action="Index" asp-route-companyId="@ViewBag.CompanyId" class="btn btn-info mt-2 me-2">
                  <i class="fas fa-caret-square-left"></i> &nbsp;Back To List
               </a>
               @*<a asp-action="Index" class="btn btn-success mt-2"><i class="fas fa-caret-square-left"></i> &nbsp;Back To List</a>*@
            </form>
         </div>
      </div>
   </div>
</div>

<script type="text/javascript">
  window.setTimeout(function () {
      $('#alert').remove('fast');
  }, 2000);
</script>