@model TonerTracker.Domain.Dto.BranchDto
@using TonerTracker.Utilities.Constant

@{
   ViewData["Title"] = "Delete";
}

<div class="container-fluid pt-4 px-4">
   <div class="row g-4">
      <div class="col-12">
         <div class="theme-bg-secondary theme-font-color rounded h-100 p-4">
            <h1 class="mb-4 display-6">@ViewBag.Title @Model.BranchName</h1>
            <!--ALERT-->
            @if (Convert.ToString(TempData[SessionConstant.Message]).Length > 1)
            {
               <div class="alert alert-success alert-dismissible text-center fade show" id="alert" role="alert">
                  <i class="bi bi-check-circle-fill"></i>&nbsp; @TempData[SessionConstant.Message]
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
               </div>
            }
            <!--DELETE Branch-->
            <div class="card theme-bg-secondary theme-font-color shadow-sm mb-1">
               <div class="card-body">
                  <h2 class="text-danger text-center display-6">Are you sure?</h2>
                  <!-- BrachName-->
                  <div class="row">
                     <div class="col-6 text-end">@Html.DisplayNameFor(model => model.BranchName) : </div>
                     <div class="col-6 text-start">@Html.DisplayFor(model => model.BranchName)</div>
                  </div>
                  <!-- Address-->
                  <div class="row">
                     <div class="col-6 text-end">@Html.DisplayNameFor(model => model.Address) : </div>
                     <div class="col-6 text-start">@Html.DisplayFor(model => model.Address)</div>
                  </div>
                  <!--ACTION:-->
                  <div class="row mt-2">
                     <form asp-action="Delete" class="text-center">
                        <input type="hidden" asp-for="ID" />
                        <button type="submit" class="btn btn-primary mt-2 me-2"><i class="fas fa-plus-square"></i> &nbsp;Save </button>
                        <a asp-action="Index" class="btn btn-success mt-2"><i class="fas fa-caret-square-left"></i> &nbsp;Back To List</a>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script type="text/javascript">
   window.setTimeout(function () {
      $('#alert').remove('fast');
   }, 2000);
</script>