@model TonerTracker.Domain.Entity.Machine
@using TonerTracker.Utilities.Constant

@{
   ViewData["Title"] = "Create Machine";
}

<div class="container-fluid pt-4 px-4">
   <div class="row g-4">
      <div class="col-12">
         <div class="theme-bg-secondary theme-font-color rounded h-100 p-4">
            <h1 class="mb-4 display-6">@ViewBag.Title</h1>
            <!--ALERT-->
            @if (Convert.ToString(TempData[SessionConstant.Message]).Length > 1)
            {
               <div class="alert alert-success alert-dismissible text-center fade show" id="alert" role="alert">
                  <i class="bi bi-check-circle-fill"></i>&nbsp; @TempData[SessionConstant.Message]
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
               </div>
            }
            <form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Machine">

               <!-- Branch Name -->
               <div class="row mb-3">
                  <label for="branchId" class="col-4 col-form-label" asp-for="BranchID"></label>
                  <div class="col-8">
                     <input value="@ViewBag.BranchName" readonly class="form-control theme-black" />
                     <input asp-for="BranchID" hidden/>
                  </div>
               </div>

               <!-- Machine Model -->
               <div class="row mb-3">
                  <label for="machineModel" class="col-4 col-form-label" asp-for="MachineModelNo"></label>
                  <div class="col-8">
                     <input type="text" class="form-control theme-black" id="machineModel" asp-for="MachineModelNo" placeholder="Enter machine model no.." />
                     <span asp-validation-for="MachineModelNo" class="text-danger"></span>
                  </div>
               </div>

               <!-- Model Serial No -->
               <div class="row mb-3">
                  <label for="machineSerial" class="col-4 col-form-label" asp-for="MachineSerialNo"></label>
                  <div class="col-8">
                     <input type="text" class="form-control theme-black" id="machineSerial" asp-for="MachineSerialNo" placeholder="Enter machine serial no.." />
                     <span asp-validation-for="MachineSerialNo" class="text-danger"></span>
                  </div>
               </div>

               <!-- Colour Type -->
               <div class="row mb-3" id="MachineColourType">
                  <label for="colourType" class="col-4 col-form-label" asp-for="ColourType"></label>
                  <div class="col-8">
                     <select asp-for="ColourType" asp-items="@Html.GetEnumSelectList<TonerTracker.Domain.Entity.ColourType>()" onchange="ColourTypeToner()" id="colourType" class="form-control theme-black">
                        <option selected>Select Colour Type</option>
                     </select>
                  </div>
               </div>

               @*<!-- BWPaperPerRate -->
                <div class="row mb-3 bwPaperRate">
                  <label for="bwPaperRate" class="col-4 col-form-label" asp-for="BWPaperRate"></label>
                  <div class="col-8">
                    <input type="text" class="form-control theme-black" id="bwPaperRate" asp-for="BWPaperRate" placeholder="Enter Black & White Paper Rate.." />
                    <span asp-validation-for="BWPaperRate" class="text-danger"></span>
                  </div>
               </div>

               <!-- ColourPaperPerRate -->
               <div class="row mb-3 colourPaperRate">
                  <label for="colourPaperRate" class="col-4 col-form-label" asp-for="ColourPaperRate"></label>
                  <div class="col-8">
                    <input type="text" class="form-control theme-black" id="colourPaperRate" asp-for="ColourPaperRate" placeholder="Enter Colur Paper Rate.." />
                    <span asp-validation-for="ColourPaperRate" class="text-danger"></span>
                  </div>
               </div>*@

               @*<!-- BW Toner Model No -->
               <div class="row mb-3 bwToner">
                  <label for="bwModelNo" class="col-4 col-form-label" asp-for="BWModelNo"></label>
                  <div class="col-8">
                     <input type="text" class="form-control theme-black" id="bwModelNo" asp-for="BWModelNo" placeholder="Enter bw model no.." />
                     <span asp-validation-for="BWModelNo" class="text-danger"></span>
                  </div>
               </div>

               <!-- Cyan Toner Model No -->
               <div class="row mb-3 cyanToner">
                  <label for="cyanModelNo" class="col-4 col-form-label" asp-for="CyanModelNo"></label>
                  <div class="col-8">
                     <input type="text" class="form-control theme-black" id="cyanModelNo" asp-for="CyanModelNo" placeholder="Enter cyan model no.." />
                     <span asp-validation-for="CyanModelNo" class="text-danger"></span>
                  </div>
               </div>

               <!-- Magenta Toner Model No -->
               <div class="row mb-3 magentaToner">
                  <label for="magentaModelNo" class="col-4 col-form-label" asp-for="MagentaModelNo"></label>
                  <div class="col-8">
                     <input type="text" class="form-control theme-black" id="magentaModelNo" asp-for="MagentaModelNo" placeholder="Enter magenta model no.." />
                     <span asp-validation-for="MagentaModelNo" class="text-danger"></span>
                  </div>
               </div>

               <!-- Yellow Toner Model No -->
               <div class="row mb-3 yellowToner">
                  <label for="yellowModelNo" class="col-4 col-form-label" asp-for="YellowModelNo"></label>
                  <div class="col-8">
                     <input type="text" class="form-control theme-black" id="yellowModelNo" asp-for="YellowModelNo" placeholder="Enter yellow model no.." />
                     <span asp-validation-for="YellowModelNo" class="text-danger"></span>
                  </div>
               </div>

               <!-- Black Toner Model No -->
               <div class="row mb-3 blackToner">
                  <label for="blackModelNo" class="col-4 col-form-label" asp-for="BlackModelNo"></label>
                  <div class="col-8">
                     <input type="text" class="form-control theme-black" id="blackModelNo" asp-for="BlackModelNo" placeholder="Enter black model no.." />
                     <span asp-validation-for="BlackModelNo" class="text-danger"></span>
                  </div>
               </div>*@

               <!-- Button -->
               <button type="submit" class="btn btn-primary mt-2 mb-2 me-2"><i class="fas fa-plus-square"></i> &nbsp;Save </button>
               <a asp-controller="Machine" asp-action="Index" asp-route-branchId="@ViewBag.BranchId" class="btn btn-secondary mt-2 mb-2 text-start ">
                  <i class="fas fa-long-arrow-alt-left"></i> &nbsp;Back To Machine List
               </a>
            </form>
         </div>
      </div>
   </div>
</div>
@*<script type="text/javascript" src="./js/site.js"></script>*@

<script type="text/javascript">
  window.setTimeout(function () {
      $('#alert').remove('fast');
  }, 2000);


   function ColourTypeToner(){
       var colourType = $("#colourType option:selected").val();
       if (colourType == "1")
       {
          $("#MachineColourType").nextAll(".bwPaperRate, .colourPaperRate, .bwToner, .cyanToner, .magentaToner, .yellowToner, .blackToner").remove();
          $("#MachineColourType").after(`<!-- BWPaperPerRate -->
                                          <div class="row mb-3 bwPaperRate">
                                             <label for="bwPaperRate" class="col-4 col-form-label">BW Paper Rate</label>
                                             <div class="col-8">
                                                <input type="text" class="form-control theme-black" id="bwPaperRate" placeholder="Enter Black &amp; White Paper Rate.." data-val="true" data-val-number="The field BW Paper Rate must be a number." name="BWPaperRate" value="" pwa2-uuid="EDITOR/input-DB5-C77-FCBBB-D2B" pwa-fake-editor="">
                                                <span class="text-danger field-validation-valid" data-valmsg-for="BWPaperRate" data-valmsg-replace="true"></span>
                                             </div>
                                          </div>

                                          <!-- BW Toner Model No -->
                                          <div class="row mb-3 bwToner">
                                             <label for="bwModelNo" class="col-4 col-form-label" asp-for="BWModelNo"></label>
                                             <div class="col-8">
                                                <input type="text" class="form-control theme-black" id="bwModelNo" asp-for="BWModelNo" placeholder="Enter bw model no.." />
                                                <span asp-validation-for="BWModelNo" class="text-danger"></span>
                                             </div>
                                          </div>`);
          
       }
       else if (colourType == "2") {
           $("#MachineColourType").nextAll(".bwPaperRate, .colourPaperRate, .bwToner, .cyanToner, .magentaToner, .yellowToner, .blackToner").remove();
           $("#MachineColourType").after(`<!-- ColourPaperPerRate -->
                                        <div class="row mb-3 colourPaperRate">
                                          <label for="colourPaperRate" class="col-4 col-form-label">Colour Paper Rate</label>
                                          <div class="col-8">
                                             <input type="text" class="form-control theme-black" id="colourPaperRate" placeholder="Enter Colur Paper Rate.." data-val="true" data-val-number="The field Colour Paper Rate must be a number." name="ColourPaperRate" value="" pwa2-uuid="EDITOR/input-6B9-7A1-A28BD-21B" pwa-fake-editor="">
                                             <span class="text-danger field-validation-valid" data-valmsg-for="ColourPaperRate" data-valmsg-replace="true"></span>
                                          </div>
                                       </div>

                                       <!-- Cyan Toner Model No -->
                                       <div class="row mb-3 cyanToner">
                                          <label for="cyanModelNo" class="col-4 col-form-label" asp-for="CyanModelNo"></label>
                                          <div class="col-8">
                                             <input type="text" class="form-control theme-black" id="cyanModelNo" asp-for="CyanModelNo" placeholder="Enter cyan model no.." />
                                             <span asp-validation-for="CyanModelNo" class="text-danger"></span>
                                          </div>
                                       </div>

                                       <!-- Magenta Toner Model No -->
                                       <div class="row mb-3 magentaToner">
                                          <label for="magentaModelNo" class="col-4 col-form-label" asp-for="MagentaModelNo"></label>
                                          <div class="col-8">
                                             <input type="text" class="form-control theme-black" id="magentaModelNo" asp-for="MagentaModelNo" placeholder="Enter magenta model no.." />
                                             <span asp-validation-for="MagentaModelNo" class="text-danger"></span>
                                          </div>
                                       </div>

                                       <!-- Yellow Toner Model No -->
                                       <div class="row mb-3 yellowToner">
                                          <label for="yellowModelNo" class="col-4 col-form-label" asp-for="YellowModelNo"></label>
                                          <div class="col-8">
                                             <input type="text" class="form-control theme-black" id="yellowModelNo" asp-for="YellowModelNo" placeholder="Enter yellow model no.." />
                                             <span asp-validation-for="YellowModelNo" class="text-danger"></span>
                                          </div>
                                       </div>

                                       <!-- Black Toner Model No -->
                                       <div class="row mb-3 blackToner">
                                          <label for="blackModelNo" class="col-4 col-form-label" asp-for="BlackModelNo"></label>
                                          <div class="col-8">
                                             <input type="text" class="form-control theme-black" id="blackModelNo" asp-for="BlackModelNo" placeholder="Enter black model no.." />
                                             <span asp-validation-for="BlackModelNo" class="text-danger"></span>
                                          </div>
                                       </div>`)
       }
   };
</script>








